<h2 style="margin-top: 3px">Welcome to Cody's Stock Tracker Web App</h2>
<p>This application allows a user and their friends to track a number of stocks. Some features/implementations that are showcased:
  <ul>
    <li>Use (and customization) of devise gem for authentication</li>
    <li>Ajax for form submission, in-depth</li>
    <li>Working with an external API (IEX) to get stock quote information</li>
    <li>Working with sensitive credentials (such as API keys) within the app</li>
    <li>Faster development of resources using generators</li>
    <li>Bootstrap installation and usage for front-end styling without the use of the bootstrap gem</li>
    <li>Self referential association between users and friends</li>
  </ul>
</p>